<nav style = ' background-image: linear-gradient(180deg,#c4b6fd, #93acfc); padding:25px;' >
    <a href='/' style = 'color: black;font-weight: bold; text-decoration:none; padding:5px'>Home</a>  
    <a href='/random-number'   style = 'color: black; font-weight: bold;text-decoration:none; padding:5px'>Random Number</a> 
    <a href='/time' style = 'color: black; font-weight: bold; text-decoration:none; padding:5px'>Time</a> 
 
 </nav>