<nav style = ' background-image: linear-gradient(180deg,#c4b6fd, #93acfc); padding:25px;' >
    <a href='/' style = 'color: black;font-weight: bold; text-decoration:none; padding:5px'>Home</a>  
    <a href='/users'   style = 'color: black; font-weight: bold;text-decoration:none; padding:5px'>Users</a> 
    <a href='/new-users' style = 'color: black; font-weight: bold; text-decoration:none; padding:5px'>New Users</a> 
 
 </nav>